body {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("https://thumbs.dreamstime.com/b/two-friends-sharing-colorful-bubble-tea-tapioca-pearls-sunny-day-against-vibrant-blue-sky-perfect-summer-refreshment-330037590.jpg");
    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}